@import 'tailwindcss';

*{
    box-sizing : border-box;
}

#root{
    min-height : 100vh; 
}

body{
    min-height : 100vh;
    min-width : 100vw;
    display : flex;
    flex-flow : column nowrap;
}
